=content_for :header do
  :javascript
    window.CROWDSCRIBED_HOST = "#{ENV['FULFILLMENT_HOST']}";
    window.CROWDSCRIBED_AUTH_TOKEN = "#{ENV['FULFILLMENT_AUTH_TOKEN']}";
    window.CROWDSCRIBED_PURCHASE_PATH = '/purchase';
  %script{type: 'text/javascript',
          src: 'https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js'}
  %script{type: 'text/javascript',
          src: 'http://localhost:3030/javascripts/crowdscribed_1.0.0.js'}
  %script{type: 'text/javascript',
          src: 'https://js.braintreegateway.com/web/3.3.0/js/client.min.js'}
  %script{type: 'text/javascript',
          src: 'https://js.braintreegateway.com/web/3.3.0/js/hosted-fields.min.js'}
  %script{type: 'text/javascript',
          src: 'http://localhost:3030/javascripts/ui-bootstrap-tpls-2.2.0.min.js'}

=content_for :page_title do
  Purchase

.container.container-default
  %div{ 'ng-app' => 'crowdscribed'}
    .row
      .col-md-8
        %cart-tile
    .row
      .col-md-6
        %address-tile
        %confirmation-tile
      .col-md-6
        %payment-tile
