-content_for :page_title do
  For Readers

.container.container-default
  %p
    You love books and the authors who write them. At Crowdscribed, we bring
    readers and authors together in one place. Browse all of the books we publish
    and get to know the writers themselves.

  %h2 What's Unique at Crowdscribed?

  %ul
    %li Read samples from existing titles and books being written. 
    %li Pledge to crowdfunding campaigns to help great ideas get published. 
    %li
      If the book is already available, buy it through us to ensure the author
      earns up to ten times more than with other sites.
      %sup 1

  %h2 What's Next?

  %p Soon, you'll be able to:
  %ul
    %li “Like” and review books you believe in to help them get noticed, 
    %li
      Connect directly with our authors through live-streams, blog content and
      chats. 
    %li Connect with other readers who have common interests.

  %p
    At Crowdscribed, we believe that great writing is about more than words;
    it's about a relationship between the author and their readers. That's why
    we are committed to bringing content and community together.

  Support Independent Authors and Independent Publishing.
  Create a Free Reader Account Today.

  %p=link_to 'Sign Up Free', new_user_registration_path, class: 'sign-up-btn btn btn-lg btn-primary'

  %table.footnotes
    %tr
      %th 1
      %td
        Based on Crowdscribed royalties, which are 75% of net profit versus
        11%-14% commonly from traditional publishers, and wholesale discounts
        many retailers require from publishers of around 45% of retail. 
