-if show_subscriber_form?
  =render 'subscription_form'

%section#top-section.welcome
  .container
    .row
      .col-md-7
        %iframe.center-block.youtube-border{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/6apyDnw0jFc?rel=0&amp;showinfo=0", :width => "560"}
      .col-md-5
        =image_tag 'quote.png', class: 'quote-image center-block img-responsive'
        -unless AppSetting.sign_in_disabled?
          =link_to 'Sign Up Free', new_user_registration_path, class: 'sign-up-btn btn btn-lg btn-primary center-block'

    .row
      .col-md-2.col-md-offset-2
        =link_to pages_author_portal_path do
          =image_tag  'pages/author_icon.png', class: 'welcome-icon'
      .col-md-2.col-md-offset-1
        =link_to pages_what_we_do_path do
          =image_tag 'pages/publisher_icon.png', class: 'welcome-icon'
      .col-md-2.col-md-offset-1
        =link_to pages_readers_path do
          =image_tag 'pages/reader_icon.png', class: 'welcome-icon'

    .row
      .col-md-12.text-center
        %h3 CLICK ON THE ICON ABOVE THAT BEST REPRESENTS YOU.

    .row
      .col-md-10.col-md-offset-1.text-center
        =render 'newsletter_subscription_form'
