=content_for :page_title do
  Book

.container.container-default
  .row
    .col-md-12
      -if can?(:update, @book_version) && @book_version.pending?
        .alert.alert-info
          %p This book is under review. We will review it as soon as we can.
          %p The HTML code you see in the preview is for security purposes only and will not appear once the page is published.
      %h1.text-center
        #book-title= @book_version.title
        %br
        #book-subtitle.subtitle= @book_version.subtitle
      -if @book_version.author.active_bio.present?
        %h2.text-center= link_to @book_version.author.full_name, bio_path(@book_version.author.active_bio)
  =render 'details', book_version: @book_version
  -if can? :update, @book_version.book
    .row
      .col-md-3
        =link_to 'Edit', dynamic_edit_path(@book_version), class: 'btn btn-default'
