// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book {
  margin-bottom: 1em;
}

a {
  .title, .author {
    text-decoration: none;
  }
}

.naked-book {
  height: 323px;
  max-width: 215px;
  border: 3px solid #00ADDE;
  border-radius: 1.5em;
  padding: 1em;
  margin-top: 6.5em;
  margin-bottom: 2em;
  overflow: hidden;
}

.covered-book{
  min-height:323px;
  max-height:323px;
  width: 215px;
  object-fit: cover;
  margin-top: 0.7em;
  margin-bottom: 2em;
}

.title {
  margin-top: 0.5em;
  font-size: 150%;
  margin-bottom: -0.2em;
  line-height: 120%;
}

.author {
  font-size: 180%;
  line-height: 100%;
}

.book-name {
  margin-top: -1.2em;
  font-size: 120%;
  margin-bottom: -.5em;
}

.image-row-align {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 85px;
  margin-right: auto;
  margin-left: auto;
  max-width: 240px;
  overflow: hidden;
}
