// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.tag-list {
  list-style-type: none;
  padding: 1em 0;
  li {
    display: inline-block;
    padding: {
      top: .2em;
      bottom: .2em;
      left: .5em;
      right: .5em;
    }
    border-radius: .5em;
    background: #00ADDE;
    color: #FFF;
  }
}

.book {
  margin-bottom: 1em;
}

a {
  .title, .author {
    text-decoration: none;
  }
}

.naked-book {
  height: 323px;
  max-width: 215px;
  border: 3px solid #00ADDE;
  border-radius: 1.5em;
  padding: 1em;
  margin-top: 6.5em;
  margin-bottom: 2em;
  overflow: hidden;
}

.covered-book{
  min-height:323px;
  max-height:323px;
  width: 215px;
  object-fit: cover;
  margin-top: 0.7em;
  margin-bottom: 2em;
}

.title {
  margin-top: 0.5em;
  font-size: 150%;
  margin-bottom: -0.2em;
  line-height: 120%;
}

.author {
  font-size: 180%;
  line-height: 100%;
}

.book-name {
  margin-top: -1.2em;
  font-size: 120%;
  margin-bottom: -.5em;
}

.image-row-align {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 85px;
  margin-right: auto;
  margin-left: auto;
  max-width: 240px;
  overflow: hidden;
}

.book-details {
  min-height:400px;
  max-height:400px;
  width: 276px;
  object-fit: cover;
  margin-top: 1.6em;
}

.naked-book-details {
  height: 400px;
  max-width: 276px;
  border: 3px solid #00ADDE;
  border-radius: 1.5em;
  padding: 1.5em;
  text-align: center;
  font-family: courier;
  margin-top: 2.1em;
}

.book-description-padding {
  padding-top: 1.2em;
}
