@import 'mixins';
@import 'buttons';
@import 'fonts';

#top-bar {
  height: 48px;
  background: #00ADDE;
  padding-top: .4em;
  padding-bottom: .4em;
  color: #FFF;
  a {
    color: #FFF;
  }
  font-size: 90%;
}

#main-content {
  margin-top: 120px;
}

#admin-content {
}

.nav.navbar-nav li a {
  text-transform: uppercase;
  font-family: 'Maven-Pro', arial, helvetica, sans-serif;
}

.title-bar {
  background: #EAEAEA;
  color: #747474;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-transform: uppercase;
}

h1 {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #F90;
  font-weight: bold;
  font-size: 180%;
}

h2 {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 150%;
}

body {
  color: #747474;
  font-family: "PT-Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  p {
    margin-bottom: 20px;
  }
}

.clear {
  clear: both;
}

.social-links {
  margin-bottom: 10px;
}

.lead-image {
  margin-top: 1em;
}

.inline-image {
  margin: 0 1em 0.5em 0;
}
.right-image {
  margin: 0 0 0.5em 1em;
}

body > footer {
  background: #282a2b;
  color: #8C8989;
  margin-top: 2em;
  padding: 2em 0;
  text-shadow: 1px 2px 1px #000;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 95%;
  text-align: center;
  a {
    color: #8C8989;
  }
}

ul.footer-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    width: 20em;
  }
}

.smaller {
  font-size: 80%;
}

.container-default {
  margin-top: 1em;
}

#notifications {
  margin-top: 1em;
}

.btn-stack .btn {
  margin-bottom: .5em;
}

.extra-bottom {
  margin-bottom: 1em;
}

.sample-container {
  margin: 1em 0;
  text-align: center;
}
.sample-link {
  font-weight: bold;
  font-size: 110%;
}

.summary-row {
  font-size: 110%;
  font-weight: bold;
}

.floating {
  width: 100%;
  position: absolute;
  margin-top: 4em;
  z-index: 99;
}

table.footnotes {
  font-size: smaller;
  margin-top: 1em;
  border-top: 1px solid #CCC;
  th {
    font-weight: normal;
    vertical-align: top;
    padding: {
      top: 1em;
      right: 2em;
    }
  }
  td {
    vertical-align: top;
    padding-top: 1em;
  }
}

.instructional {
  margin: {
    top: .5em;
    bottom: .5em;
  }
  font-size: 90%;
  font-style: italic;
}

.our-team .row {
  .row {
    margin-top: 2em;
    font-size: 120%;
  }
}

.note {
  font-style: italic;
}

label.required:after {
  content: " *";
}

ul.tag-list {
  list-style-type: none;
  padding: 1em 0;
  li {
    display: inline-block;
    padding: {
      top: .2em;
      bottom: .2em;
      left: .5em;
      right: .5em;
    }
    border-radius: .5em;
    background: #00ADDE;
    color: #FFF;
  }
}

.author-name {
  margin-top: 0.5em;
  font-size: 150%;
  margin-bottom: -0.2em;
  line-height: 120%;
}
.author-photo {
  max-height:224px;
  min-height: 224px;
  width: 224px;
  object-fit: cover;
  margin-top: 2em;
}
.naked-author-frame {
  height: 224px;
  max-width: 225px;
  border: 3px solid #00ADDE;
  padding: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
}

.author-details {
  max-height:276px;
  min-height: 276px;
  width: 276px;
  object-fit: cover;
  margin-top: 1.3em;
}

.naked-author-details {
  min-height: 276px;
  width: 276px;
  border: 3px solid #00ADDE;
  padding: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
}

.author-description-padding {
  padding: 1em;
}

.button-panel {
  margin-top: 1em;
}

.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
