@import 'mixins';
@import 'buttons';

section.welcome {
  padding-top: 3em;
  margin-bottom: -2em;
  h1 {
    color: #000000;
    text-transform: capitalize;
    font-weight: 400;
    font-style: normal;
    font-size: 170%;
    line-height: 48px;
    padding-bottom: -.1em;
  }
  h3 {
    color: #F90;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    font-style: normal;
    font-size: 100%;
  }
  p {
    margin-top: .8em;
  }
  color: #000000;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 130%;
  line-height: 24px;
}

#top-section {
  background-color: #ffffff;
}

.larger {
  font-size: 150%;
  line-height: 110%;
}

.quote-image {
  @include center-block;
  margin-top: 90px;
}

.sign-up-btn {
  width: 12em;
  @extend .hero-btn;
  margin-bottom: 9em;
}

.subscribe-btn {
  width: 12em;
  @extend .hero-btn;
  margin-bottom: 10px;
}

.mailchimp-form {
  margin-top: 18px;
  padding: 26px 20px;
  max-width: 500px;
  font-size: 20px;
}

.mailchimp-btn {
  background: #F6891F;
  color: #fff;
}

.welcome-icon {
  padding-bottom: .5em;
  @include center-block;
}

.youtube-border {
  border:3px solid #62a2c4;
}

.help-image {
  margin-top: 2em;
  margin-bottom: 2em;
}

.pricing-container {
  box-sizing: border-box;
  width: 910px;
  margin-top: 4em;
  background: #F8F8F8;
  padding: 9px;
  margin-bottom: 4em;
}

.pricing-table {
  color: #333;
  h1 {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 150%;
  }
  .price-column {
    box-sizing: border-box;
    width: 20%;
    float: left;
    border: solid 1px #000;
    text-align: center;
    background: #f4d0a1;
    line-height: 20px;
    color: #747474;
    p {
      margin: 1em 1em;
    }
    .unavailable {
      text-decoration: line-through;
      color: #FFF;
    }

    .price-block {
      color: #62a2c4;
      font-size: 300%;
      font-family: "Quicksand", Arial, Helvetica, sans-serif;
      font-weight: bold;
      line-height: 20px;
      background: #fff;
      height: 2em;
      padding-top: 0.4em;
      span.currency {
        position: relative;
        font-size: 180%;
        font-weight: normal;
        color: #333;
        top: -1em;
        left: 0.8em;
      }
      span.super {
        position: relative;
        vertical-align: super;
        font-size: 150%;
        left: -16px;
        top: -10px;
      }

      .note {
        font-size: 90%;
        font-weight: normal;
        color: #888888;
        line-height: 11px;
        position: relative;
        margin-left: -30px;
      }
    }
    .signup-block {
      background: #FFF;
      padding-top: 8px;
      padding-bottom: 8px;
      .sign-up-btn {
        width: auto;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1em;
        margin-right: 1em;
      }
    }
  }
}

.a-la-carte {
  color: #747474;
  p {
    margin-bottom: 20px;
    &.action {
      color: #3CC;
      font-family: "Quicksand", Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
  }
}

blockquote {
  color: #3CC;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 150%;
  font-weight: bold;
  line-height: 24px;
  margin: 18px 0;
  padding: 18px 0;
  border-top: 2px solid #9A9A9A;
  border-bottom: 2px solid #9A9A9A;
  border-left: 0;
  border-right: 0;
}

.book-caption {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 215px;
  height: 100%;
  background: rgba(10, 7, 109, 0.8);
  color: #FFF;
  padding: 1em;
  margin: 0;
  display: none;
}

.grid {
  box-sizing: border-box;
}
.grid-item {
  box-sizing: border-box;
  float: left;
  width: 215px;
  height: 218px;
}
.grid-item--height2 {
  height: 300px;
}
.grid-item--height3 {
  height: 332px;
}
.grid-item--height4 {
  height: 344px;
}

.our-team .row {
  .row {
    margin-top: 2em;
    font-size: 120%;
  }
}

.indent {
  padding-left: 2em;
}

.a-la-carte {
  table {
    width: 90%;
  }
}
